<div class="card">
  <div class="card-header">
    {{country.name}} / {{country.nativename}}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <img src="https://www.countryflags.io/{{country.short_code}}/flat/64.png">
      </div>
      <div class="col-6">
        <div class="row" >
          <div class="col-sm">
            Code
          </div>
          <div class="col-sm">
            {{country.short_code}} 
          </div>
        </div>

        <div class="row" >
          <div class="col-sm">
            Capital
          </div>
          <div class="col-sm">
            {{country.capital}} 
          </div>
        </div>
        
        <div class="row" >
          <div class="col-sm">
            Currencies
          </div>
          <div class="col-sm">
            <span *ngFor = "let c of country.currencies">{{c}}&nbsp;</span> 
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>
