<div class="row">
    <div class="col-sm-2" *ngFor = "let country of ['Sri Lanka', 'Australia', 'Japan', 'Canada', 'Mongolia', 'Laos', 'Malasia']">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" aria-label="Checkbox for following text input">
              </div>
            </div>
            <div class="input-group-append">
                <span class="input-group-text">{{country}}</span>
            </div>            
          </div>
    </div>
  </div>
