<!-- Header -->
<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">Country stat</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/ui/home" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" routerLink="/ui/edit" routerLinkActive="active">Edit</a>
        <a class="nav-item nav-link" routerLink="/ui/about" routerLinkActive="active">About</a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://bitbucket.org/chintanameegamarachchi" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="nav-item nav-link" href="https://appsolve.com.au" target="_blank">
          <i class="fa fa-medium"></i>
        </a>
      </div>
  </div>
</nav>

<!-- Content -->
<div class="container">  
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
    <div class="navbar-expand m-auto navbar-text">
      Made with <i class="fa fa-heart"></i> by <a href="https://appsolve.com.au"> Chintana Meegamarachchi</a>
    </div>
</nav>